.outline {
  border: 1px dashed #000;
}

.btn {
  border: 1px, #000, solid;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
  @extend .outline;
}

.customize {
  display: flex;
  flex-direction: row;
  margin-left: 750px;
  height: 400px;
  margin-right: 105px;
}

.tabs {
  flex: 1;
  text-align: center;
  border: 1px solid #00f;
  height: 50px;
}

#crustTab {

}

#cheeseTab {
  display: none;
}

#meatTab {
  display: none;
}

#veggieTab {
  display: none;
}